@font-face {
    font-family: 'Minecraft';
    src: url(/fonts/minecraft.ttf) format('truetype'); /* url of the font */
}

html {
    overflow: hidden;
}

iframe {
    visibility: hidden;
    position: absolute;
    left:0;
    top:0;
    width: 100%;
    height: 100%;
    border: none;
}

body {
    font-family: 'Minecraft';
    color: white;

    margin: auto;
    text-align:center;
}

button {
    color: white;
    text-shadow: 0.125em 0.125em #383838;
    font-family: 'Minecraft';
    font-size: calc(62.5vmin * 0.0375);
    text-decoration: none;
    padding-bottom: calc(62.5vmin / 100);

    width: 62.5vmin;
    height: calc(62.5vmin / 10);

    background-image: url(/assets/button.png);
    background-size: cover;
    border: none;

    margin: auto;
    margin-top: calc(calc(62.5vmin / 10) * 0.2);
}

button:hover {
    color: #FFFFA0;
    background-image: url(/assets/button_hover.png);
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}